<footer class="text-center">
    <!--<a class="up-arrow" href="#myPage" title="TO TOP">-->
        <!--<span class="glyphicon glyphicon-chevron-up"></span>-->
    <!--</a><br>-->
    <p>Сделано по заказу <a href="https://imt.academy/" title="Visit IMT Academy">imt.academy</a></p>
</footer>