<div class="container well-lg">
    <h3>Об игре</h3>
    <p>Блэкдже́к, блек-дже́к (англ. Blackjack) — одна из самых популярных карточных игр в казино по всему миру. Большая
        популярность игры обуславливается простыми правилами, скоростью игры и наиболее простой стратегией в подсчёте
        карт. </p>
    <h3>Правила</h3>
    <p>Ошибочно считается, что цель заключается в том, чтобы набрать как можно больше очков, но не более 21. На самом
        деле — обыграть дилера (крупье). Играют от одной до восьми колод. Из-за того, что вероятность комбинации
        блек-джек при большем числе колод ниже, то преимущество игрока уменьшается при увеличении числа колод. При игре
        с шаффл машинкой считается, что используется бесконечная колода. По окончании партии, когда осталась примерно
        треть карт (точное значение устанавливает дилер, размещая специальную карточку в т. н. «шуз» на глаз), колоды
        перемешиваются. При игре одной колодой чаще всего перемешивается после каждой партии.</p>
    <p>Значения очков каждой карты: от двойки до десятки — соответственно от 2 до 10, у туза — 1 или 11 (11 пока общая
        сумма не больше 21, далее 1), у т. н. картинок (король, дама, валет) — 10.</p>
    <p>Если у игрока и дилера число очков на руках равное, то такая ситуация называется «Ровно», часто в казино это
        называют «Стей» — от англ. stay, в английском языке это звучит как Push (Пуш). В такой ситуации все остаются
        при своих ставках, никто не выигрывает и не проигрывает. Хотя в различных казино могут быть исключения и при
        «пуше» выигрывает казино.</p>
    <p>Игроки делают ставки, кладя фишки на соответствующие поля игрового стола. Ставки делаются до раздачи карт. После
        того, как первая карта сдана, игрокам запрещается делать ставки и прикасаться к своим фишкам.</p>
    <p>Дилер раздаёт карты (обычно из одной или двух колод карт, но чаще из шуза, содержащего четыре и более колод): по
        две карты каждому игроку, себе раздаёт одну карту (в США принято раздавать дилеру две карты, одна из которых
        открыта, а другая — закрыта, то есть находится на столе рубашкой вверх). Все карты открываются сразу (видны и
        дилеру, и игроку).</p>
    <p>Если у игрока сразу после раздачи набралось 21 очко (то есть у игрока туз и 10 или туз и картинка), то такая
        ситуация и называется блек-джек. В таком случае игроку сразу выплачивается выигрыш 3 к 2 (то есть в 1,5 раза
        превышающий его ставку). Исключение составляют случаи, когда дилеру первой картой (открытой) попадается 10,
        картинка или туз. В этом случае существует вероятность, что у дилера также будет блек-джек, поэтому игроку с
        блек-джеком предлагается либо взять выигрыш 1 к 1 (только если первая карта дилера — туз), либо дождаться
        окончания кона игры (и в случае, если у дилера не блек-джек, получить выигрыш 3 к 2).</p>
    <p>Далее игрокам, у которых не блек-джек, предлагается на выбор либо взять ещё карту (в таком случае игрок должен
        сказать дилеру «карту» или «ещё», англ. «hit me»), либо остаться при тех картах (и той сумме очков), которые у
        него на руке (в этом случае игрок должен сказать дилеру «достаточно» или «хватит»).</p>
    <p>Как правило, если у игрока после взятия новой карты в сумме получается 21, дилер не спрашивает его больше и
        переходит к следующему игроку.</p>
    <p>Если у игрока после взятия новой карты сумма очков превысит 21, то такая ситуация называется «перебор». Дилер
        произносит «много» и снимает ставку игрока в пользу казино.</p>
    <p>Если у дилера в первых двух картах набирается 21 очко (блек-джек), то все игроки (кроме тех, у кого тоже
        блек-джек), проигрывают. Те, у которых блек-джек, остаются при своих ставках, если они ранее не выбрали взять
        выигрыш 1 к 1 или если не застраховали свою комбинацию от блек-джека.</p>
    <p>В некоторых случаях, в зависимости от того, какие карты на руках у игрока, дилер может предложить ему
        дополнительные варианты (см. ниже).</p>
    <p>После того, как все игроки завершили брать карты, дилер говорит «себе» и раздаёт карты себе. Общее правило
        блек-джека состоит в том, что дилер обязан остановиться, как только наберёт 17 очков или выше, и обязан брать,
        пока не достигнет (даже если у всех не перебравших меньше очков). В различных казино может варьироваться
        правило, должен ли дилер останавливаться в ситуации, если у него туз и шестёрка (то есть 7 или 17 очков на
        руке). Обычно это правило написано на игровом столе.</p>
    <p>При окончательном подсчёте очков в конце раунда карты остальных игроков для вас значения не имеют, игра ведётся
        только против дилера, то есть сравниваются карты только игрока и дилера, карты и ставки параллельных игроков не
        учитываются.</p>
    <h3>Дополнительные правила</h3>
    <dl>
        <dt>Сплит</dt>
        <dd>Если у игрока на руке две карты одного достоинства (то есть, 2 и 2, 3 и 3 и т. п., а также две картинки,
            даже неодинаковые, например, дама и король), то дилер предлагает игроку сплит, то есть разбиение одной руки
            на две. В таком случае игрок вносит на игровой стол ставку, равную предыдущей, дилер разделяет карты на две
            руки, раздаёт на каждую по одной карте и продолжает играть с игроком так, как будто он изначально внёс две
            ставки (играл за двоих). Исключение составляет лишь случай, когда сплитуется пара тузов: в этом случае
            игроку к тузам раздаётся по одной карте, далее он брать карты не может, но может пересплитовать тузы
            (зачастую сплитовать тузы разрешено только один раз). Если при раздаче вторых карт опять образуется пара,
            то дилер предлагает игроку сплитовать ещё раз (в правилах или ограничено число сплитований или нет, но при
            этом количество сплитований тузов оговаривается отдельно).</dd>
        <dt>Дабл</dt>
        <dd>Игрок может удвоить ставку и при этом получить ровно одну карту. В некоторых казино такое разрешается лишь
            тогда, когда у игрока на руке 10 или 11 очков (или, в некоторых случаях, ещё и 9 очков). Некоторые казино
            позволяют игроку сделать дабл после сплита.</dd>
        <dt>Трипл</dt>
        <dd>Игрок может опять доставить ставку, равную первоначальной, уже после того, как сделал дабл. И получить ещё
            одну карту.</dd>
        <dt>Сарендо</dt>
        <dd>В некоторых правилах блек-джека игроку позволяется снять половину своей ставки после раздачи первых двух
            карт, если игрок думает, что его набор карт плох (отдельно правилами оговаривается саренда против открытого
            туза у дилера), это раннее сарендо. Позднее сарендо бывает при игре по базовым (американским) правилам
            после того, как дилер подсмотрит скрытую карту (если открытая карта туз или десятка).</dd>
        <dt>Страхование</dt>
        <dd>Если у дилера первой открытой картой является туз, то дилер может предложить игрокам страхование от
            блек-джека. Игрок, в случае согласия, ставит дополнительную страховую ставку, равную половине
            первоначальной. В случае, если у дилера будет блек-джек, то игрок теряет свою игровую ставку, но ему
            выплачивается страховка в размере 2 к 1.</dd>
    </dl>
</div>